.duanli{
	letter-spacing: -1px;
	font-size: 24px;
	color: #aaa;
	font-weight: normal;
	line-height: 1.3;
}

.duanli-d{
	color: #497bca;
	height: 20px;
	width: 20px;
	background: url('../images/d.png') 20px 20px;
}
