.home-link{
	font-size: 28px;
	text-shadow: 0px 1px 1px white;
}

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  src: local('Chivo Black'), local('Chivo-Black'), url(uOXSiKkEygwkvR4cgUzOz_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

h4{
	color: #6d6d6d;
	font-weight: normal;
}